@model IEnumerable<Entidades.Modelos.Disciplina>

@{
    ViewData["Title"] = "Index";
}

<h2>Disciplinas Disponíveis - @Model.First().Turmas.First().Semestre.Titulo</h2>

<span class="alert-success">@(ViewBag.MatriculaSuccessMessage == null ? "" : @ViewBag.MatriculaSuccessMessage)</span>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-primary">Matricular</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
