@using Entidades.Modelos
@model Entidades.Modelos.Turma

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Turma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disciplina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disciplina.NomeParaLista)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semestre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semestre.Titulo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDeVagas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDeVagas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horarios)
        </dt>
        <dd class="col-sm-10">
            <p>
                @foreach (var horario in Model.Horarios.OrderBy(h => h.Horario))
                {
                    @Html.DisplayFor(modelItem => horario.Horario)
                }
            </p>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matriculas)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameForInnerType((MatriculaTurma mt) => mt.Estudante.Id)</th>
                    <th>@Html.DisplayNameForInnerType((MatriculaTurma mt) => mt.Estudante.Nome)</th>
                    <th>@Html.DisplayNameForInnerType((MatriculaTurma mt) => mt.Nota)</th>
                    <th>@Html.DisplayNameForInnerType((MatriculaTurma mt) => mt.Aprovado)</th>
                    <th>@Html.DisplayNameForInnerType((MatriculaTurma mt) => mt.Estado)</th>
                </tr>
                @foreach (var item in Model.Matriculas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estudante.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estudante.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nota)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Aprovado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
    @if (!Model.Matriculas.Any())
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a><span> | </span>
    }
        <a asp-action="Index">Back to List</a>
</div>
