@model IEnumerable<Entidades.Modelos.Turma>

@{
    ViewData["Title"] = "Turmas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<div asp-validation-summary="All" class="text-danger"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TurmaSortParm"]">@Html.DisplayNameFor(model => model.Id)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TituloSortParm"]">@Html.DisplayNameFor(model => model.Disciplina)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SemestreSortParm"]">@Html.DisplayNameFor(model => model.Semestre)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["HorarioSortParm"]">@Html.DisplayNameFor(model => model.Horarios)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDeVagas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDeMatriculas)
            </th>
            <th  align="right"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina.NomeParaLista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semestre.Titulo)
            </td>
            <td>
                <p>
                    @foreach (var horario in item.Horarios.OrderBy(h => h.Horario))
                   {
                        @Html.DisplayFor(modelItem => horario.Horario) 
                   }
                </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeVagas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeMatriculas)
            </td>
            @if (item.NumeroDeMatriculas > 0)
            {
                <td  align="right">
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            }
            else
            {
                <td  align="right">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
