@using MatriculaPUCRS.Models
@using System.Globalization
@model RelatorioCursosViewModel

@{
    ViewData["Title"] = $"Relatório de Curso - {@Model.NomeDoCurso}";
}

<h1>@Model.NomeDoCurso</h1>
<hr/>
<div class="d-flex align-items-start justify-content-around">
    <div class="card text-bg-primary mb-3 shadow-sm" style="max-width: 16rem;">
        <div class="border-radius-5">
            <h5 class="mb-2 pt-3" align="center">@Html.DisplayNameFor(model => model.QuantidadeDeAlunos)</h5>
            <div class="card-body pt-0 pb-0">
                <h1 class="card-title" align="center">@Model.QuantidadeDeAlunos</h1>
            </div>
        <div class="card-footer" align="center">Representa o total de alunos ativos no curso</div>
        </div>
    </div>
    <div class="card text-bg-primary mb-3 shadow-sm" style="max-width: 16rem;">
        <div class="border-radius-5">
            <h5 class="mb-2 pt-3" align="center">@Html.DisplayNameFor(model => model.PercentualDeMatriculas)</h5>
            <div class="card-body pt-0 pb-0">
                <h1 class="card-title" align="center">@Model.PercentualDeMatriculas.ToString("P02", CultureInfo.CreateSpecificCulture("pt-BR"))</h1>
            </div>
        <div class="card-footer" align="center">Representa o percentual de alunos matriculados no semestre atual</div>
        </div>
    </div>
    <div class="card text-bg-primary mb-3 shadow-sm" style="max-width: 16rem;">
        <div class="border-radius-5">
            <h5 class="mb-2 pt-3" align="center">@Html.DisplayNameFor(model => model.MediaDeCreditosPorAluno)</h5>
            <div class="card-body pt-0 pb-0">
                <h1 class="card-title" align="center">@Model.MediaDeCreditosPorAluno</h1>
            </div>
        <div class="card-footer" align="center">Representa a média de créditos por aluno matriculado no semestre atual</div>
        </div>
    </div>
</div>

<a asp-action="Index">Voltar para o Relarório de Cursos</a>

