@using Entidades.Modelos
@model Entidades.Modelos.Disciplina

@{
    ViewData["Title"] = @Model.Nome;
}

<h1>@Model.NomeParaLista</h1>
<h5 class="text-muted">Nível @Model.Nivel - Carga Horária @Model.CargaHoraria</h5>


<form asp-controller="Relatorios" asp-action="DisciplinaRelatorio" method="get">
    <div class="container">

        <div class="input-group input-group-sm mb-3">
            <div class="row">
                <div class="col-sm-2 input-group-prepend p-1">
                    <input placeholder="Matrícula" type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" name="matriculaAluno" value="@TempData["matriculaAlunoInput"]">
                </div>
                <div class="col-sm-3 input-group-prepend p-1">
                    <input placeholder="Nome" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="nomeAluno" value="@TempData["nomeAlunoInput"]">
                </div>
                <div class="col-sm-2 input-group-prepend p-1">
                    <select class="form-control" asp-items="@ViewBag.Estados" name="estado">
                        <option disabled selected>Estado...</option>
                        <option value="todos">TODOS</option>
                    </select>
                </div>
                <div class="col-sm-2 input-group-prepend p-1">
                    <select class="form-control" asp-items="@ViewBag.Semestres" name="semestreInput">
                        <option disabled selected>Semestre...</option>
                    </select>
                </div>
                <div class="col-sm-2 input-group-prepend p-1">
                    <select class="form-control" asp-items="@ViewBag.Curriculos" name="curriculo">
                        <option disabled selected>Curriculo...</option>
                        <option value="todos">Todos</option>
                    </select>
                </div>
                <div class="col-sm-1 input-group-prepend p-1">
                    <input type="submit" value="BUSCAR" class="btn btn-group-sm btn-outline-success rounded" />
                </div>
            </div>

        </div>
    </div>
</form>

@if (ViewBag.MatriculasAgrupadas.Count > 0)
{
    <h5 class="">Alunos matriculados (Semestre @Model.Turmas.First().Semestre.Titulo)</h5>
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameForInnerType((Estudante e) => e.NumeroMatricula)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((Estudante e) => e.Nome)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((Estudante e) => e.Estado)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((Estudante e) => e.Curriculo.NomeParaLista)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (IGrouping<Turma, MatriculaTurma> turmaMatricula in ViewBag.MatriculasAgrupadas)
            {
                <tr>
                    <td colspan=10 class="card-header">
                        <span class="font-weight-bold">
                            Turma @turmaMatricula.Key.Id - 
                            <span class="text-muted small">@turmaMatricula.Key.Horarios.Aggregate("", (horario, prox) => horario += prox.Horario)</span>
                        </span>
                    </td>
                </tr>
                @foreach (MatriculaTurma matriculaTurma in turmaMatricula)
                {
                    <tr>
                        <td>
                            @matriculaTurma.Estudante.NumeroMatricula
                        </td>
                        <td>
                            @matriculaTurma.Estudante.Nome
                        </td>
                        <td>
                            @matriculaTurma.Estudante.Estado
                        </td>
                        <td>
                            @matriculaTurma.Estudante.Curriculo.NomeParaLista
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <h4 class="d-flex justify-content-center text-muted pt-1">Nenhum estudante matriculado :(</h4>
}