@using Entidades.Modelos
@model IEnumerable<Entidades.Modelos.Disciplina>

@{
    ViewData["Title"] = "Relatório de Disciplinas";
    var disciplinas = Model.OrderBy(d => d.Nivel).ThenBy(d => d.Codigo);
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewBag.Curriculo.NomeParaLista</h2>

<form asp-controller="Relatorios" asp-action="Disciplinas" method="get">
    <div class="input-group input-group-sm mb-3">
        <div class="d-flex">
            <div class="col-3 input-group-prepend p-1">
                <input placeholder="Código" type="search" class="form-control" aria-describedby="inputGroup-sizing-sm" name="codigoDisciplina" value="@TempData["codigoDisciplinaInput"]">
            </div>
            <div class="col-10 input-group-prepend p-1">
                <input placeholder="Disciplina" type="search" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="nomeDisciplina" value="@TempData["nomeDisciplinaInput"]">
            </div>
            <div class="input-group-prepend p-1">
                <input type="submit" value="Buscar" class="btn btn-group-sm btn-primary rounded" />
            </div>
        </div>
    </div>
</form>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameForInnerType((Disciplina d) => d.Codigo)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((Disciplina d) => d.Nome)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((Disciplina d) => d.Nivel)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((Disciplina d) => d.CargaHoraria)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in disciplinas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nivel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CargaHoraria)
                    </td>
                    <td align="right">
                        <a class="btn btn-outline-primary" asp-action="RelatorioDisciplina" asp-route-id="@item.Id">Gerar Relatório</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h4 class="d-flex justify-content-center text-muted">Nenhuma disciplina encontrada :(</h4>
}