@using Entidades.Modelos
@model IEnumerable<Entidades.Modelos.Disciplina>

@{
    ViewData["Title"] = "Cursos";
    var disciplinas = Model.OrderBy(d => d.Nivel).ThenBy(d => d.Codigo);
}

<h1>Curso - @ViewBag.Curriculo.NomeDoCurso</h1>

<h2>Currículo - @ViewBag.Curriculo.Codigo</h2>

<form asp-controller="Disciplinas" asp-action="Index" method="get">
        <div class="input-group input-group-sm mb-3">
            <div class="d-flex">
                <div class="col-3 input-group-prepend p-1">
                    <input placeholder="Código" type="search" class="form-control" aria-describedby="inputGroup-sizing-sm" name="codigoDisciplina" value="@TempData["codigoDisciplinaInput"]">
                </div>
                <div class="col-6 input-group-prepend p-1">
                    <input placeholder="Disciplina" type="search" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="nomeDisciplina" value="@TempData["nomeDisciplinaInput"]">
                </div>
                <div class="col-3 input-group-prepend p-1">
                    <input placeholder="Horário" type="search" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="horario" value="@TempData["horarioInput"]">
                </div>
                <div class="input-group-prepend p-1">
                    <input type="submit" value="Buscar" class="btn btn-group-sm btn-primary rounded" />
                </div>
            </div>

        </div>
</form>

<div class="accordion" id="accordion">
    <div class="card-body py-3 font-weight-bold border-top d-flex justify-content-start">
        <div class="col-2">
            @Html.DisplayNameForInnerType((Disciplina d) => d.Codigo)
        </div>
        <div class="col-6">
            @Html.DisplayNameForInnerType((Disciplina d) => d.Nome)
        </div>
        <div class="col-1">
            @Html.DisplayNameForInnerType((Disciplina d) => d.Nivel)
        </div>
        <div class="col-2">
            @Html.DisplayNameForInnerType((Disciplina d) => d.CargaHoraria)
        </div>
    </div>
    @if (Model.Any())
    {
        @foreach (var disciplina in disciplinas)
        {
            <div class="card-footer" id="heading_@disciplina.Id">
                <a class="dropdown-toggle d-flex align-items-center" type="button" data-toggle="collapse" data-target="#collapse_@disciplina.Id" aria-expanded="true" aria-controls="collapse_@disciplina.Id">
                    <span class="col-2">
                        @Html.DisplayFor(modelItem => disciplina.Codigo)
                    </span>
                    <span class="col-6">
                        @Html.DisplayFor(modelItem => disciplina.Nome)
                    </span>
                    <span class="col-1">
                        @Html.DisplayFor(modelItem => disciplina.Nivel)
                    </span>
                    <span class="col-2">
                        @Html.DisplayFor(modelItem => disciplina.CargaHoraria)
                    </span>
                    <span class="flex-grow-1"></span>
                    <span class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.Turmas)
                    </span>
                </a>
            </div>
            <div id="collapse_@disciplina.Id" class="collapse" aria-labelledby="heading_@disciplina.Id" data-parent="#accordion">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameForInnerType((Turma t) => t.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameForInnerType((Turma t) => t.Horarios)
                                </th>
                                <th>
                                    @Html.DisplayNameForInnerType((Turma t) => t.NumeroDeVagas)
                                </th>
                                <th>
                                    @Html.DisplayNameForInnerType((Turma t) => t.VagasRemanescentes)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var turma in disciplina.Turmas)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => turma.Id)
                                    </td>
                                    <td>
                                        <p>
                                            @foreach (var horario in turma.Horarios.OrderBy(h => h.Horario))
                                            {
                                                @Html.DisplayFor(modelItem => horario.Horario)
                                            }
                                        </p>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => turma.NumeroDeVagas)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => turma.VagasRemanescentes)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    <div class="border-top" />
    }
    else
    {
        <h4 class="d-flex justify-content-center text-muted">Nenhuma disciplina encontrada :(</h4>
    }
</div>


