@using Microsoft.AspNetCore.Identity
@using Entidades.Modelos
@inject SignInManager<ApplicationUser> SignInManager;
@model List<Entidades.Modelos.Disciplina>

@{
    ViewData["Title"] = "Cursos";
    var disciplinas = Model.OrderBy(d => d.Nivel).ThenBy(d => d.Codigo);
    bool isCoordenador = SignInManager.IsSignedIn(User) && User.IsInRole("Coordenador");
}

<form asp-controller="Disciplinas" asp-action="Index" method="get">
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend mr-2">
            <input placeholder="Código Disciplina" type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" name="codigoDisciplina" value="@TempData["codigoDisciplinaInput"]">
        </div>
        <div class="input-group-prepend mr-2">
            <input placeholder="Nome Disciplina" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="nomeDisciplina" value="@TempData["nomeDisciplinaInput"]">
        </div>
        <div class="input-group-prepend mr-2">
            <input placeholder="Horário" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="horario" value="@TempData["horarioInput"]">
        </div>
        <div class="input-group-prepend">
            <input type="submit" value="BUSCAR" class="btn btn-outline-success rounded" />
        </div>
    </div>
</form>

@if (@Model.Count() > 0)
{
    <h1>Curso - @Model.First().Curriculos.First().NomeDoCurso</h1>

    <h2>Currículo - @Model.First().Curriculos.First().Codigo</h2>

    @if (isCoordenador)
    {
        <p>
            <a asp-action="Create">Adicionar</a>
        </p>
    }

    <div class="accordion" id="accordion">
        <div class="modal-header font-weight-bold border-top border-bottom">
            Codigo - Nome
        </div>
        @foreach (var disciplina in Model)
        {
            
            <div class="card-header" id="heading_@disciplina.Id">
                <a class="dropdown-toggle d-flex align-items-center" type="button" data-toggle="collapse" data-target="#collapse_@disciplina.Id" aria-expanded="true" aria-controls="collapse_@disciplina.Id">
                    <span class="flex-grow-1">
                        @Html.DisplayFor(modelItem => disciplina.NomeParaLista)
                    </span>
                    <span class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.First().Turmas)
                    </span>
                </a>
            </div>
            <div id="collapse_@disciplina.Id" class="collapse" aria-labelledby="heading_@disciplina.Id" data-parent="#accordion">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameForInnerType((Turma t) => t.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameForInnerType((Turma t) => t.Horarios)
                                </th>
                                <th>
                                    @Html.DisplayNameForInnerType((Turma t) => t.NumeroDeVagas)
                                </th>
                                <th>
                                    @Html.DisplayNameForInnerType((Turma t) => t.VagasRemanescentes)
                                </th>
                                <th align="right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var turma in disciplina.Turmas)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => turma.Id)
                                    </td>
                                    <td>
                                        <p>
                                            @foreach (var horario in turma.Horarios.OrderBy(h => h.Horario))
                                            {
                                                @Html.DisplayFor(modelItem => horario.Horario)
                                            }
                                        </p>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => turma.NumeroDeVagas)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => turma.VagasRemanescentes)
                                    </td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>



}
else
{
    <h3>Nenhuma disciplina encontrada para estes parâmetros de pesquisa :(</h3>
}


